<!DOCTYPE html>

<html>
  <head>
    <title>Designer Works（仮）</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/designerindex.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
   <header>
      <h1><a href="index.html">Designer Works</a></h1>
      <nav class="login">
        <ul>
          <li><a>制作者一覧</a></li>
          <li><a href="login.html">LOGIN</a></li>
        </ul>
      </nav>
      <nav class="mypage">
        <ul>
          <li><a>制作者一覧</a></li>
          <li><a>MYPAGE</a></li>
        </ul>
      </nav>
    </header>

    <div id="wrap">
      <div id="contentsbox">
        <h1>制作者一覧</h1>
        <div class="creatersortbox">
          <ul>
            <li id="SortAll">All</li>
            <li id="Sortana">あ<span>▶</span>な</li>
            <li id="Sortnawa">は<span>▶</span>わ</li>
            <li id="Sortam">A<span>▶</span>M</li>
            <li id="Sortnz">N<span>▶</span>Z</li>
            <li id="SortOther">その他</li>
          </ul>
        </div>
        <div class="listbox">
          <ul id="listbox">

          </ul>
        </div>
      </div>
    </div>


    <footer>
      <h1>Designer Works</h1>
      <nav>
      <ul>
        <li><a>お問い合わせ</a></li>
        <li><a>プライバシーポリシー</a></li>
      </ul>
      </nav>
      <p>copyright©2018.system</p>
    </footer>

<script src="../js/jquery-3.3.1.js" type="text/javascript"></script>
<script src="../js/designerindex.js" type="text/javascript"></script>
  </body>
</html>
