<!DOCTYPE html>

<html>
  <head>
    <title>Designer Works（仮）</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------css------>
    <link href="../css/login.css" rel="stylesheet" type="text/css"/>

  </head>
  <body>
    <header>
      <h1><a href="index.html">Designer Works</a></h1>
      <nav class="login">
        <ul>
          <li><a>制作者一覧</a></li>
          <li><a href="login.html">LOGIN</a></li>
        </ul>
      </nav>
      <nav class="mypage">
        <ul>
          <li><a>制作者一覧</a></li>
          <li><a>MYPAGE</a></li>
        </ul>
      </nav>
    </header>

    <div id="wrap">
      <div id="LoginPage">
        <h1>Login</h1>
        <form id="login">
          <p>ユーザー名<br>
          <input type="text" name="user" value=""></p>
          <p>パスワード<br>
          <input type="text" name="password" value=""></p>
          <p><input type="button" value="ログイン" class="button" onclick="inputLoginButton();" /></p>
        </form>
        <p class="text"><a href="registration.html">新規登録はこちら</a></p>
     </div>
    </div>

    <footer>
      <h1>Designer Works</h1>
      <nav>
      <ul>
        <li><a>お問い合わせ</a></li>
        <li><a>プライバシーポリシー</a></li>
      </ul>
      </nav>
      <p>copyright©2018.system</p>
    </footer>

<!------js------->
<script src="../js/jquery-3.3.1.js" type="text/javascript"></script>
<script src="../js/slick/slick.min.js" type="text/javascript"></script>
<script src="../js/masonry/masonry.pkgd.min.js" type="text/javascript"></script>
<script src="../js/style.js" type="text/javascript"></script>
<script src="../js/login.js" type="text/javascript"></script>
  </body>
</html>
