<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- CSSフォルダのhome.cssを使用する -->
      <link rel="stylesheet" type="text/css" href="../CSS/home.css">
      <title>顧客管理システム</title>
  </head>

  <body>
    <header>
      <div class="logo"><p id="logo">YAMASAKI SYSTEM</p></div>
    </header>

    <div class="top_contents">
      <div class="top_logo">
        <div class="load"></div>
        <div class="load2"></div>
        <h1>顧客管理</h1>
        <h2>SYSTEM</h2>
      </div>
      <br>

      <div class="top_img"><img src="../images/smile.png"></div>

      <p id="button" ><input type = "button" value = "検索＆一覧"></p>


    </div>

    <!-- jQueryの読み込み -->
    <script type = "text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script type="text/javascript" src="../JavaScript/home.js"></script>
  </body>
</html>