@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------
	1. document
--------------------------------------------------*/

body {
  text-align: justify;
  font-size: 14px;
  font-family: "メイリオ", sans-serif;
	line-height: 20px;
	letter-spacing: 2px;
}

#wrap {
  width: 900px;
  margin:0 auto;
}

/*--------------------------------------------------
	2. header
--------------------------------------------------*/

header {
  position: relative;
  z-index: 9999;
  width: 100%;
  height: 75px;
  background: #000;
}

header h1 {
  float: left;
  width: 300px;
  padding: 25px 0 25px 50px;
}

header h1 a {
  display: block;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}

header nav.login {
  float: right;
  width: 280px;
  margin: 0 50px;
}

header nav.mypage {
  float: right;
  width: 280px;
  margin: 0 50px;
  display: none;
}

header li {
  float: left;
  width: 140px;
  height: 75px;
  text-align: center;
  list-style: none;
}

header li:hover {
  background: rgba(204,204,204,0.5);
}

header li a {
  display: block;
  margin: 30px 0;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------
	3. main
--------------------------------------------------*/
#LoginPage {
  width: 800px;
  margin: 0 auto;
}

#LoginPage h1 {
  margin: 120px 0;
  font-size: 36px;
}

#LoginPage form {
  width: 340px;
  margin: 140px auto 0;
}

input {
  width: 330px;
  height: 23px;
  margin: 10px 0 23px;
}

input.button {
  height: 36px;
  margin: 24px 0 10px;
  color: #fff;
  background: #000;
}

p.text {
  width: 330px;
  margin: 5px auto 280px;
  text-align: center;
}

p.text a {
  text-decoration: none;
  color: #000;
}

/*--------------------------------------------------
	4. footer
--------------------------------------------------*/

footer {
  position: relative;
  width: 100%;
  height: 70px;
  background: #000;
}

footer h1 {
  float: left;
  width: 280px;
  padding: 25px 0 25px 50px;
  font-size: 24px;
  color: #fff;
}

footer nav {
  float: left;
  position: relative;
  top: 0;
  left: 0;
  margin-left: 23%;
  width: 280px;
  padding: 30px 25px;
  
}

footer nav ul {
  width: 800px;
  margin: 0 auto;
}

footer li {
  float: left;
  width: 140px;
  text-align: center;
  list-style: none;
}

footer li a {
  font-size: 12px;
  font-family: "メイリオ";
  color: #fff;
}

footer p {
  float: right;
  width: 205px;
  margin-right: 36px;
  padding: 25px;
  color: #fff;
}